---
layout: default
title: Tools
permalink: /tools/
---

<header id="head" class="secondary"></header>

<div class="container">

    <h1>Contributed tools</h1>

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <p>
                We would like to build up a library of pre- and post-processing
                tools for Dalton. If you have scripts or programs that you think may
                be of general interest to the Dalton-community, do not hesitate to
                place them on the <a href="http://forum.daltonprogram.org">user forum</a>!
                Please include documentation that indicates what the program/script
                does and how to use them. We reserve the right to decide wether the
                contribution should stay on the forum.
            </p>

            <p>
                No support will be given for these tools, and the Dalton
                administrators accept no responsibility for their performance,
                correctness or usefulness.
            </p>

            <h2>Visualization</h2>
            <ul>
                <li><a href="{{ site.baseurl }}/tools/dal2pov/">dal2pov</a>: A Dalton interface to POV-Ray
                <li><a href="{{ site.baseurl }}/tools/vrml/">VRML</a>: Dalton built-in functionality for visualization using VRML.
            </ul>

            <h2>External control of the calculation of vibrational properties using Dalton</h2>
            <ul>
                <li><a href="http://www.reiher.ethz.ch/software/snf">SNF - the program for the quantum chemical calculation of vibrational spectra</a>:
                A program for quantum chemical calculation of vibrational spectra.
                J. Neugebauer, M. Reiher, C. Kind, B. A. Hess, J. Comput. Chem. 23 2002, 895-910.
            </ul>

        </div>
    </div>
</div>
