/* empty file so far */

body, p, dt, dd, h1, h2 { font-family: Verdana, Arial, Helvetica, sans-serif; }

body { padding-left: 10pt; padding-right: 15pt }
/* menuframe class is used only for div blocks defining a menu on the left hand side. */

p, dl, h1, h2, h3, ol, ul, pre { margin-left: 112pt; }
ul ul, dd p, dd ul, dd pre { margin-left: 10pt }
.menuframe { float: left; width: 100pt;
             border-top: solid thin red; border-bottom: solid thin red;
             margin-right: 12pt
}
.menuframe p { margin-left: 0em; }
.menuframe a { display: block; margin-bottom: 6pt }
.menusep { display: none }

/*
.menuframe { text-align: center; border-bottom: solid thin red; }
*/

.johnframe { float: right; width: 200px; margin-left: 18pt; margin-bottom: 12pt  }
.header { text-align: center; background: gray; color: white;
          font-weight: 900; font-size: 14pt;  margin-left: 0pt}

dt { font-weight: bold; }

body { border-bottom: solid thin red }

/* change sizes to keep Dorota happy */
body, p, dt, dd { font-size: 10pt }

h1 { font-size: 14pt; border-bottom: solid thin red; }
h2 { font-size: 12pt; border-bottom: solid thin red;  }

/* Nicer adm/ tables */
th, td {
padding-left: 5px;
padding-right: 5px;
padding-top: 0px;
padding-bottom: 0px;
}
